<h2>Options
  <i class="x-icon sm-icon"></i>
</h2>
<ul>
  <li class='ao-members'>Members...</li>
  <li class='ao-labels'>Labels...</li>
  <li class='ao-position not-implemented'>Position...</li>
</ul>  