<h2>
  Archive All Cards in this List?
  <i class="x-icon sm-icon"></i>
  <i class="back-icon sm-icon"></i>
</h2>
<div>
  <p>This will remove all the cards in this list from the board. To view archived cards and bring them back to the board, click "Menu" > "Archived Items."</p>
  <div class="button">Archive All</div>
</div>