<figure>
  <img src="/{{ src }}">
</figure>
<div>
  <p>{{ name }}</p>
  <p>Added {{imageDate date}}</p>
  <ul class="horiz-list">
    <li class="download-icon sm-icon not-implemented">Download
    </li><li class="cover-icon sm-icon">{{#if cover }}Remove Cover{{else}}Make Cover{{/if }}
    </li><li class="x-icon sm-icon">Delete
    </li><li class="comment-icon sm-icon not-implemented">Comment
    </li>
  </ul>
</div>