{{#if attachments }}
  <h2 class="attachment-icon icon">Attachments</h2>
  <ul class="attachment-list"></ul>
  <ul class="light-list">
    <li class="not-implemented">Add an attachment...</li>
  </ul>
{{/if }}