<h2>Members
  <i class="x-icon sm-icon"></i>
</h2>
<input type="text" class="dropdown-input" placeholder="e.g. taco@trello.com">
<p>Search for a person in Trello by name or email address, or enter an email address to invite someone new.</p>
<hr>
<p class="light-button not-implemented">Invite people by giving them a special link...</p>