<h2>Add Checklist
  <i class="x-icon sm-icon"></i>
</h2>
<form>
  <label>Title</label>
  <input type="text" class="dropdown-input" value="Checklist">
  <label>Copy Items From...</label>
  <select>
    <option default>(none)</option>
  </select>
  <input type="submit" class="button" value="Add">
</form>