<h2>
  Close Board?
  <i class="x-icon sm-icon"></i>
</h2>
<div>
  <p>You can re-open the board by clicking the "Boards" menu from the header, selecting "View Closed Boards," finding the board and clicking "Re-open."</p>
  <div class="button not-implemented">Close</div>
</div>