<h2 class="comment-icon icon">Add Comment</h2>
<div>
  <div class="member-container">
    <div class="card-member">TP</div>
  </div>
  <div class="comment">
    <label>
      <textarea required rows="1" placeholder="Write a comment..."></textarea>
      <div>
        <a class="light-button card-icon sm-icon"></a>
        <a class="light-button smiley-icon sm-icon"></a>
        <a class="light-button email-icon sm-icon"></a>
        <a class="light-button attachment-icon sm-icon"></a>
      </div>
      <div>
        <input type="submit" class="button not-implemented" value="Send">
      </div>
    </label>
  </div>
</div>