<h2>Copy List
  <i class="x-icon sm-icon"></i>
  <i class="back-icon sm-icon"></i>
</h2>
<form>
  <label for="copy-title">Name</label>
  <textarea name="copy-title" class="dropdown-input" id="copy-title">{{ title }}</textarea>
  <input type="submit" class="button" value="Create List">
</form>