<h2>Copy Board
  <i class="x-icon sm-icon"></i>
</h2>
<label>Title
  <input type="text" class="dropdown-input" placeholder='Like "Calvinball Meetup Schedule"...'>
</label>
<label>Team</label>
<p>Teams make sharing and working within a group even easier. It doesn't look like you are a member of any teams. <span class="link">Create a team.</span></p>
<p class="hidden"><i class="private-icon sm-icon"></i> This board will be <strong>Private</strong>. <span class="link">Change</span></p>
<ul class="privacy-list">
  <li>
    <i class="private-icon sm-icon"></i>Private
    <i class="check-icon sm-icon"></i>
    <p>The board is private. Only people added to the board can view and edit it.</p>
  </li>
  <li>
    <i class="people-icon sm-icon"></i>Team
    <i class="check-icon sm-icon hidden"></i>
    <p>The board is visible to members of the team. Only people added to this board can edit it. The board must be added to a team to enable this.</p>
  </li>
  <li>
    <i class="globe-icon sm-icon"></i>Public
    <i class="check-icon sm-icon hidden"></i>
    <p>The board is public. it's visible to anyone with the link and will show up in search engines like Google. Only people added to the board can edit it.</p>
  </li>
</ul>
<label>
  <input type="checkbox" checked="true">Keep Cards
</label>
<p>Activity and members will not be copied to the new board.</p>
<a class="button not-implemented">Create</a>