<h2>Create
  <i class="x-icon sm-icon"></i>
</h2>
<ul>
  <li class="not-implemented">Create Board...
    <p>A board is a collection of cards ordered in a list of lists. Use it to manage a project, track a collection, or organize anything.</p>
  </li>
  <li class="not-implemented">Create Personal Team...
    <p>A team is a group of boards and people. Use it to group boards in your company, team, or family.</p>
  </li>
  <li class="not-implemented">Create Business Team...
    <p>With Business Class, your team has more security, administrative controls and superpowers.</p>
  </li>
</ul>