<h2>
  Delete Card?
  <i class="x-icon sm-icon"></i>
</h2>
<div>
  <p>All actions will be removed from the activity feed and you won't be able to re-open the card. There is no undo.</p>
  <div class="button">Delete</div>
</div>