<h2>Information
  <i class="x-icon sm-icon"></i>
</h2>
<figure>
  <img src="/{{ url }}">
  <figcaption>Join A Webinar To Take Your Productivity To The Next Level</figcaption>
</figure>
<p class="not-implemented">Get a new tip.</p>
<hr>
<ul>
  <li>Tour
  </li><li class="not-implemented">Pricing
  </li><li class="not-implemented">Apps
  </li><li class="not-implemented">Blog
  </li><li class="not-implemented">More...
  </li>
</ul>