<h2>Labels
  <i class="x-icon sm-icon"></i>
  {{#if backArrow }}
    <i class="back-icon sm-icon"></i>
  {{/if }}
</h2>
<div>
  <input type="text" class="dropdown-input" placeholder="Search labels...">
  <div class="labels-search-results">
    {{> labelsDropdownLabels this }}
  </div>
</div>