<h2>List Actions
  <i class="x-icon sm-icon"></i>
</h2>
<ul>
  <li class="la-add-card" data-position="top">Add Card...</li>
  <li class="la-copy-list">Copy List...</li>
  <li class="la-move-list">Move List...</li>
  <li class="la-subscribe selected">Subscribe{{#if subscribed }}<i class="check-icon sm-icon"></i>{{/if}}</li>
  <hr>
  <li class="la-move-all">Move All Cards in This List...</li>
  <li class="la-archive-all">Archive All Cards in This List...</li>
  <hr>
  <li class="la-archive-one">Archive This List</li>
</ul>