<i class="back-icon icon"></i>
<i class="x-icon icon"></i>
<h1>More</h1>
<div class="menu-contents">
  <ul class="menu-list">
    <li class="gear-icon menu-icon not-implemented">Settings</li>
    <li class="label-icon menu-icon not-implemented">Labels</li>
    <li class="file-icon menu-icon">Archived Items</li>
    <hr>
    <li class="email-icon menu-icon not-implemented">Email-to-board Settings</li>
    <li class="sub-icon menu-icon">Subscribe
      {{#if subscribed }}<i class="check-icon sm-icon"></i>{{/if }}
    </li>
    <li class="trello-icon menu-icon">Copy Board</li>
    <li class="export-icon menu-icon not-implemented">Print and Export</li>
    <hr>
    <li class="no-icon menu-icon">Close Board...</li>
    <hr>
  </ul>
  <div class="board-link">
    <span>Link to this board</span>
    <input type="text" value="https://trello.com/b/Hw2h7nDr">
    <p class="private-icon sm-icon">
      Private. Only visible to members on the board.
    </p>
  </div>
</div>