<i class="back-icon icon"></i>
<i class="x-icon icon"></i>
<h1>Menu</h1>
<div class="menu-contents">
  <div class="members">
    {{>menuMembers }}
  </div>
  <div class="add-members">
    <i class="add-icon sm-icon"></i>Add Members...
  </div>
  <hr>
  <ul class="menu-list">
    <li class="background-item">Change Background</li>
    <li class="filter-icon menu-icon">Filter Cards</li>
    <li class="power-icon menu-icon not-implemented">Power-Ups</li>
    <li class="stickers-icon menu-icon not-implemented">Stickers</li>
    <li class="more-icon menu-icon">More</li>
    <hr>
    <li class="activity-icon menu-icon not-implemented">Activity</li>
  </ul>
  <ul class="activity-list">
    <li>
      <i class="member-icon"></i>
      <p>
        <span class="member-name">Taylor Peat</span> changed the background of this board <small>yesterday at 4:53 PM</small>
      </p>
    </li>
    <li>
      <i class="member-icon"></i>
      <p>
        <span class="member-name">Taylor Peat</span> sent <span class="link">Use the + in the top menu to make your first board now.</span> to the board <small>4 hours ago</small>
      </p>
    </li>
    <li>
      <i class="member-icon"></i>
      <p>
        <span class="member-name">Taylor Peat</span> archived <span class="link">Use the + in the top menu to make your first board now.</span> <small>4 hours ago</small>
      </p>
    </li>
    <li>
      <i class="member-icon"></i>
      <p>
        <span class="member-name">Taylor Peat</span> changed the background of this board <small>5 hours ago</small>
      </p>
    </li>
    <li>
      <i class="member-icon"></i>
      <p>
        <span class="member-name">Taylor Peat</span> changed the background of this board <small>6 hours ago</small>
      </p>
    </li>
    <li>
      <i class="member-icon"></i>
      <p>
        <span class="member-name">Taylor Peat</span> changed the background of this board <small>yesterday at 10:23 PM</small>
      </p>
    </li>
  </ul>
  <a class="all-activity not-implemented">View all activity...</a>
</div>