<i class="back-icon icon"></i>
<i class="x-icon icon"></i>
<h1>Archive</h1>
<div class="menu-contents">
  <input class="dropdown-input" placeholder="Search archive..."><a class="light-button">Switch to <span>lists</span><span>cards</span></a>
  <ul class="archived-content-list"></ul>
  <div class='no-results'>No archived cards</div>
</div>