<i class="back-icon icon"></i>
<i class="x-icon icon"></i>
<h1>Change Background</h1>
<div class="menu-contents">
  <ul id="colors" class="bg-samples"></ul>
  <h3>Photos</h3>
  <ul id="images" class="bg-samples"></ul>
  <h3>Patterns and Textures</h3>
  <ul id="patterns" class="bg-samples"></ul>
  <h3>Custom</h3>
  <ul class="bg-samples locked">
    Get <span class="private-icon icon not-implemented">Business Class.</span>
  </ul>
</div>