<ul>
  <li class="boards trello-icon icon"><span>Boards</span>
  </li><li class="search-container">
    <div class="search search-icon icon"></div>
    <div class="active-search">
      <div><input type="text"></input></div>
      <i class="x-icon icon"></i>
      <i class="goto-icon icon"></i>
    </div>
  </li>
</ul>
<h1>Trello</h1>
<ul class="user-info">
  <li class="send-icon icon">
  </li><li class="create-icon icon">
  </li><li class="split-button-1">{{ initials }}
  </li><li class="split-button-2">{{ fullName }}
  </li><li class="info-icon icon">
  </li><li class="notifications-icon icon">
  </li>
</ul>