<h2>Notifications
  <i class="x-icon sm-icon"></i>
</h2>
<div>
  <i class="clock-icon icon"></i>
  <p>
    <span class="link">Add all the cards and lists you need.</span> on <span class="link">My Title</span> was due June 1 at 12:00 PM <small>June 1 at 12:03 PM</small>
  </p>
</div>
<ul>
  <li class="not-implemented">See All Notifications</li>
  <li class="not-implemented">Change Notification Email Frequency</li>
  <li class="not-implemented">Allow Desktop Notifications</li>
</ul>