<h2>{{ initials }} ({{ username }})
  <i class="x-icon sm-icon"></i>
</h2>
<ul>
  <li class="not-implemented">Profile</li>
  <li class="not-implemented">Cards</li>
  <li class="not-implemented">Settings</li>
  <hr>
  <li class="not-implemented">Help</li>
  <li class="not-implemented">Shortcuts</li>
  <li class="not-implemented">Change Langauge...</li>
  <hr>
  <li class="not-implemented">Log Out</li>
</ul>